* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 32px;
}

h2 {
    font-size: 36px;
    margin: 24px 0 16px 0;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

p {
    margin-bottom: 8px;
}

blockquote {
    margin: 24px 0;
}

.button-link {
    font-size: 21px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 8px;
    width: 100%;
    margin-top: 24px;
}

/* HEADER STYLES */

header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    width: 100%;
}

.small-nav {
    width: 100%;
}

.small-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.small-nav img {
    padding: 16px 10px 10px 10px;
}

.large-nav, .logo {
    display: none;
    padding: 16px 0;
}

.logo {
    display: none;
    padding: 16px 0;
    width: 40%;
}

.logo a {
    font-size: 26px;
    text-decoration: none;
    display: flex;
    color: black;
    font-size: 16px;
}

#colmar {
    font-size: 26px;
}

#academy {
    font-size: 26px;
    color: grey;
    font-weight: 300;
}

.large-nav {
    width: 59%;
    padding: 20px 0;
}

.large-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.large-nav li {
    padding-left: 16px;
}

.large-nav a {
    text-decoration: none;
    color: black;
    transition: color 300ms ease-out;
}

.large-nav a:hover {
    color: blue;
}

@media only screen and (min-width: 768px) {
    .small-nav {
        display: none;
    }

    .large-nav, .logo {
        display: inline-block;
    }
}

/* BANNER STYLES */

#banner {
    background-color: lightgrey;
}

#banner-text {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 940px) {
    #banner {
        padding: 32px 24px;
    }

    #banner-content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 24px;
        max-width: 1200px;
        margin: auto;
    }

    #banner-text {
        padding-right: 24px;
    }
}

/* INFORMATION STYLES */

#information {
    padding: 16px;
}

#practice {
    display: none;
}

.desktop-img {
    display: none;
}

.tile-text {
    margin: 12px 16px 16px 16px;
}

.right-tile a {
    text-decoration: none;
}

@media only screen and (min-width: 940px) {
    #information {
        padding: 32px 24px;
    }

    #information-content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 24px;
        max-width: 1200px;
        margin: auto;
    }

    #right-tiles {
        border-left: 1px solid lightgrey;
    }

    .right-tile {
        display: grid;
        grid-template-columns: 35% 65%;
        padding: 16px;
        border-top: 1px solid lightgrey;
        transition: background-color 500ms ease-out;
    }

    .right-tile:hover {
        background-color: lightgrey;
    }

    .right-tile:first-child {
        border-top: none;
    }

    .desktop-img {
        display: block;
    }

    .mobile-img {
        display: none;
    }

    #practice {
        display: block;
    }
}

/* LEARNING STYLES */
#learning {
    padding: 0 16px;
    border-top: 1px solid lightgrey;
    text-align: center;
}

.tile img, .tile p {
    display: none;
}

.tile .tile-text {
    padding: 16px 16px 8px 16px;
    background-color: lightgrey;
    text-align: left;
}

@media only screen and (min-width: 940px) {
    #learning {
        padding: 32px 72px;
        border-top: none;
        background-color: lightgrey;
    }

    .tile .tile-text {
        background-color: white;
        padding: 16px;
        margin: 0;
        min-height: 186px;
    }

    #learning-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        max-width: 1200px;
        margin: auto;
    }

    .tile img, .tile p {
        display: block;
        color: grey;
    }
}

/* THESIS STYLES */

#thesis {
    padding: 0 0 24px 0;
    border-top: 1px solid lightgrey;
    text-align: center;
}

#thesis-tiles, #video h3, #video blockquote {
    display: none;
}

@media only screen and (min-width: 940px) {
    #thesis {
        padding: 32px 24px;
    }
    
    #thesis-content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 24px;
        max-width: 1200px;
        margin: auto;
    }

    #thesis-tiles, #video h3, #video blockquote {
        display: block;
    }

    #thesis-tiles .tile-text, #video h3, #video blockquote {
        text-align: left;
    }

    #thesis-tiles {
        border-left: 1px solid lightgrey;
    }

    video {
        margin-bottom: 24px;
        background-color: lightgrey;
    }
}

/* FOOTER STYLES */

footer {
    padding: 16px 24px 16px 24px;
}

#footer-links {
    display: none;
}

#footer-links a {
    text-decoration: none;
    color: black;
    margin-left: 12px;
}

@media only screen and (min-width: 940px) {
    #footer-links {
        display: block;
    }

    footer {
        border-top: 1px solid lightgrey;
        display: flex;
        justify-content: space-between;
    }
}